    ---
    Intermediate Format
    ---

Intermediate Format
    
    The intermediate is a plain-text representation of cloze
    tests (extension: .clz). Gaps are modelled as a set of
    two adjacent pairs of curly brackets, where the first set
    contains the valid answers and the second set contains the
    invalid answers.

    The following pictures visualizes the <Intermediate Format>:

[./images/im.png]

* Example

    Consider the following sentence:

---
He can't think {of}{on, in, at} anything.
---

    The word <<<of>>> will be the only valid answer and
    the words <<<on>>>, <<<in>>>, <<<at>>> will form
    the invalid answers. The resulting answer options
    will comprise of the union of both sets.

    Please note that you can disable a gap by postfixing
    it with a <<<d>>> as in <disable> like so:

---
He can't think {of}{on, in, at}d anything.
---

    In this case, no gap will be created and a random
    valid answer will be chosen (in case there are
    multiple valid answers). This is also explained in
    the {{{./gui.html}GUI manual}}.
