    ---
    Home
    ---

About ClozeGen

    ClozeGen is a toolkit for the generation of language-independent
    {{{http://en.wikipedia.org/wiki/Cloze_test}Cloze Tests}}
    based upon 
    {{{http://code.google.com/p/dkpro-core-asl/}DKPro}},
    {{{http://code.google.com/p/uimafit/}UIMAfit}}
    and {{{http://uima.apache.org}UIMA}} licensed under the terms
    of the MIT license. Cloze tests or
    fill-in-the-gap tests are multiple choice tests consisting
    of a portion of text with certain words removed. For example,

---
I can' think ____[on, of, about, in] anything.
---

    is a cloze test item with four answer choices.

* Target audience

    Its targeted audience is twofold: Developers will find
    a simple yet powerful platform to develop, test and deploy
    their algorithms for gap generation. Users will find an
    easy-to-use application for the generation of cloze tests
    featuring two user interfaces, namely the
    {{{./gui.html}Graphical User Interface}} and the
    {{{./cli.html}Command Line Interface}}.

    Please note that ClozeGen is as of now not a complete collection
    for the generation of cloze tests because it does not yet
    ship with a variety of gap generation algorithms. Right now,
    it can only generate gaps for prepositions with a model
    based on the brown corpus.

* Features

    Below you can find an incomplete list of features
    provided by ClozeGen.

** Developer Perspective

    * Flexible framework to {{{./tutorial.html}integrate}} gap generators into

    * Constraint-based

    * Simple yet powerful {{{./plugins.html}plugin system}}

    * NGram extraction {{{./ngram.html}tool}}
    
    * Fully mavenized

** User Perspective

    * Two user interfaces

    * Use of an {{{./im.html}Intermediate Format}}

    * Read from multiple formats (as of now: text, pdf, clz)

    * Export to multiple formats (as of now: text, clz)

* Quality Assurance

    * Developed using
    {{{http://checkstyle.sf.net}checkstyle}} in order to
    guarantee strict obedience of conventions

    * Over 90% {{{./cobertura/index.html}test coverage}}

* Requirements

    ClozeGen has the following requirements:

    * Java 1.6 or higher

    * Maven 3 or higher (for developers only)
