Wiring it up

    Now that you have finished
    {{{generators.html}writing your generator}} and have
    selected (or written) an
    {{{adapter.html}adapter}}, it is time to wire it all up.
    This is pretty straightforward and involves creating
    a description for
    {{{/apidocs/com/github/fhirschmann/clozegen/lib/components/GapAnnotator.html}GapAnnotator}} like so:

%{snippet|id=wireex1|file=lib/src/main/java/com/github/fhirschmann/clozegen/lib/examples/ConstraintExample.java}
